body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    
}

/* fast section style with nav  */
.nav-part{
    display: flex;   
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 120px;
    margin-right:120px;
}
.name{
    width: 50%;
    
}
.name h3{
    font-size: 24px;
    color: #1C8D73;
    font-weight: 900;
}
.nav-link{
    width: 50%;
}
.nav-link a{
    font-size: 17px;
    text-decoration: none;
    color: #1C8D73;
    font-weight: bold;
    padding-right: 34px;
}
.nav-icon{
    font-size: 22px;
    text-decoration: none;
    color: #120E43;
    font-weight: bold;
    padding-right: 20px;   
}
.nav-link a:hover{
    color: #120E43;
}





/*---------------
section one start
-----------------*/
.header-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-left: 120px;
    margin-right:120px;
    margin-top: 130px;

}
.camera-info{
    width: 100%;
}
.camera-info-heding{
    font-size: 50px;
    margin-bottom: 16px;
}
.camera-info-p{
    font-weight: 600;
    font-size: 16px;
    text-align: justify;
    padding-bottom: 16px;

}

.link-button{
    
    text-decoration: none;
    font-size: 16px;
    background-color:#1C8D73 ;
    color: white;
    padding: 6px 9px;
    border-radius: 15px ;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.link-button:hover{
    background-color: #120E43;
}

.far{
    font-size: 16px;
    margin-left: 10px;   
    
}
.camera-img{
    width: 50%;
    
}
/* .camera-img img{
    width: 300px;
    height: 350px;
    padding-left: 100px;
} */
.camera-img:hover img{
    transform: scale(1) rotate(10deg) ;
    transition: transform 4s;
}
/*---------------
section one end
-----------------*/




/*section two start*/
.latest-collection{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 80px;
}

.main-desing{
    margin-left: 120px;
    margin-right:120px;

}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin-top: 0;
}
.product{
    width: 300px;
    height: 450px;      
    border-radius: 7px;
    box-shadow: 2px 4px 15px gray;
}
.product-pic img{
    width: 280px;
    padding:9px 9px 0px 9px;
}
.some-info{
    padding: 9px;
}
.p-titel{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 28px;
}
.p-price{
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: bold;
}
.rating-star{
     margin-top: 2px;
     margin-bottom: 0px;
}
.rating-star .fas{
    color: #FB8200; 
}
#gap{
    color: gray;
}
.gray-info{
    color: rgb(122, 116, 116);
    font-weight: bold;
    font-size: 18px;
}
#see-more{
    padding-top: 50px;
    font-size: 20px;
    width: 100%;
    color: #1C8D73;
    font-weight: bold;
    text-align: right;
}
#see-more p:hover {
    color: #120E43;
   
}


 /* Optional part start */


 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 20px 100px;
    margin-right:120px;
    margin-top: 130px;
}
.container::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: url(arabpic/kak.jpg) no-repeat center;
    background-size: cover; */
    z-index: -1;
    filter: blur(50px);
}

.conrainer-box{
    /* max-width: 950px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(36, 34, 34, 0.19);
}
.left{
    height: 100%;
    background: url(images/drone.png) no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
        border: 2px solid rgba(0,0,0,0);
        background-color: rgba(230,230,230,0.6);
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .5s;

}

.field:hover{ 
    background-color: rgba(216, 212, 212, 0.904);
}

.field:focus{
    background-color: rgba(255, 255, 255, 0.959);
    border: 2px solid rgba(120, 231, 222, 0.47);
}

.area{
    min-height: 150px;
}

.btn{

    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    outline: none;
    border: none;
    transition: .5s;
    color: #fff;
}

.btn:hover{
    background-color: #12b656;
}



 /* Optional part end  */





/*------------------------------------
footer section style
------------------------------------- */
footer{
    margin-top: 100px;
    padding:20px;
    background-color: #514d859f;
}
.footer-style{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
  
}
#footer-name{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3px;
}
#copyright{
    font-weight: bold;
    font-size: 14px;
}
#rights{
    font-weight: bold;
    font-size: 14px;
}

.f-icon{
    font-size: 20px;
    padding: 5px;
    color: #120E43;
    
}



/* ------------------------
all media query style here
---------------------------*/

@media screen and (max-width:688px){
    
    .name{
        width: 100%;
    }
    .nav-part{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .nav-link a{
        display: none;
    }
    .nav-link .nav-icon{
    align-items: center;
    justify-content: center;
    }

    .header-section{
        grid-template-columns: repeat(1, 1fr);
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .camera-img img{
        width: 300px;
        height: 400px;
        
    }
    .camera-info{
        width: 100%;
        text-align: center;              
    }
    .camera-info-p{
        text-align: center;
        padding: 50px;
    }

    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
       
    }

}


/* only optional section responsive */
@media screen and (max-width:880px){
    .conrainer-box{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0px;
    }
    .left{ 
        height: 200px;
    }
    .conrainer-box{
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-right: 100px;
        width: 100%;
    }
}
/* only optional section responsive */

